@charset "UTF-8";

body    {
    background-color:lightblue;
    color:rgb(15, 15, 15);
    font-size: 12pt;
    font-family: Arial;
}
    h1 {
        color:blue;
}
a {
    color: rgb(129, 86, 86);
    text-decoration: none;
}