@charset "UTF-8";

    *{
        font-family: Arial, Helvetica, sans-serif;
       
    }

body {
        background-image:linear-gradient(to right, #B137FA, #552EE0, #4263F5, #3194DE, #37F4FA);
    }
    main {
        background-color: #a9c0d2;
        border-radius: 10px;
        box-shadow: 5px 5px rgb(103, 103, 197);
        width: 600px;
        padding: 10px;
        margin: auto;
        }

    h1  {
            color:darkblue;
            text-align: center;
            text-shadow: #37F4FA;
        }
    h2  {
            color:rgb(4, 4, 45);
        }

 p  {
        text-align: justify ;
    }
